credentials_profile = "vscode"
environment_tag     = "Dev"
project_tag         = "k8s_sandbox"
region              = "ap-south-1"
vpc_cidr            = "10.10.0.0/16"
user_ip             = "0.0.0.0/0"
host_os             = "linux"
key_name = "k8s-sandbox"
ssh_config_location = "~/.ssh/config"
public_key_location    = "k8s-sandbox.pub"
private_key_location = "k8s-sandbox"
ec2_user = "ubuntu"
instance_type = "t3a.medium"
instance_storage = 20